<div class="card h-100 shadow-sm">
    <div class="image position-relative" style="cursor: pointer;">
        <img src="/assets/images/hero1.jpg" alt="{{job.title}}" class="img-fluid bg-light">
        <div class="d-flex align-items-center justify-content-center hover-overlay">
            <button type="button" class="btn btn-primary" routerLink="/jobs/{{job.id}}">View</button>
            <button type="button" class="btn btn-primary">Edit</button>
        </div>
    </div>

    <div class="card-body d-flex flex-column">
        <a routerLink="/jobs/{{job.id}}">
            <h6 class="text-uppercase">{{job.title}}</h6>
        </a>
        <span class="mb-2">{{job.companyName}}</span>
        <span class="mb-2">{{job.location}}</span>
        <p class="card-text">{{job.description}}</p>
    </div>
</div>